<?xml version="1.0" encoding="utf-8"?>
<!--
Sample license text.
-->
<configuration>
    <system.serviceModel>
        <bindings/>
        <client>
            <endpoint address="http://localhost:10050/basicHttp" behaviorConfiguration="endpointTelemetryBehavior" binding="basicHttpBinding" bindingConfiguration="" contract="Microsoft.ServiceModel.TelemetryCorrelation.Tests.ITestService" name="configBasedHttpService" kind="" endpointConfiguration=""/>
            <endpoint address="net.tcp://localhost:10051/netTcp" behaviorConfiguration="endpointTelemetryBehavior" binding="netTcpBinding" bindingConfiguration="" contract="Microsoft.ServiceModel.TelemetryCorrelation.Tests.ITestService" name="configBasedNetTcpService"/>
        </client>
        <services>
            <service behaviorConfiguration="serviceTelemetryBehavior" name="Microsoft.ServiceModel.TelemetryCorrelation.Tests.ConfigBasedService">
                <endpoint address="basicHttp" binding="basicHttpBinding" bindingConfiguration="" name="basicHttpEndpoint" contract="Microsoft.ServiceModel.TelemetryCorrelation.Tests.ITestService"/>
                <endpoint address="netTcp" binding="netTcpBinding" bindingConfiguration="" name="netTcpEndpoint" contract="Microsoft.ServiceModel.TelemetryCorrelation.Tests.ITestService"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:10050/"/>
                        <add baseAddress="net.tcp://localhost:10051/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <endpointBehaviors>
                <behavior name="endpointTelemetryBehavior">
                    <telemetryCorrelation/>
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="serviceTelemetryBehavior">
                    <telemetryCorrelation/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <extensions>
            <behaviorExtensions>
                <add name="telemetryCorrelation" type="Microsoft.ServiceModel.TelemetryCorrelation.TelemetryCorrelationBehaviorElement, Microsoft.ServiceModel.TelemetryCorrelation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
            </behaviorExtensions>
            <bindingElementExtensions>
                <add name="telemetryCorrelation" type="Microsoft.ServiceModel.TelemetryCorrelation.TelemetryCorrelationElement, Microsoft.ServiceModel.TelemetryCorrelation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
            </bindingElementExtensions>
        </extensions>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.17.0.146" newVersion="2.17.0.146"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
